.user_main{
  background-color: white;
  box-shadow: rgba(129, 124, 124, 0.35) 0px 5px 10px;
  padding: 2rem;
  border-radius: 1.25rem;
  margin: 2rem;
}
.user_main > h3 {
    font-weight: 600;
  font-size: 28px;
  line-height: 33px;
  color: #252525;
}


@media screen and (min-width:769px) {
    .user_main{
        margin-left: 2rem;
    }
}
@media screen and (max-width: 768px){
    .user_main{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
@media screen and (max-width: 601px){
      table{
        width: 80%;
      }
      td{
        font-size: 14px;
      }
}