.btn-dark,
.btn-light {
  width: 255px;
  height: 53px;
  outline: none;
  border: none;
  font-size: 20px;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.btn-view {
  width: 116px;
  height: 32px;
  outline: none;
  border: none;
  font-size: 16px;
  border-radius: 12px;
  background-color: #0060D3;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease-in;

}
.btn-view:hover {
  background-color: #3188f2;
}

.btn-dark {
  background-color: #0060D3;
  color: #fff;
  font-weight: 500;
}

.btn-dark:hover {
  background-color: #3188f2;
}

.btn-light {
  background-color:white;
  font-weight: 400;
  color: #252525;
  border:1px solid #7B7B7B;
}

/* .btn-light:hover {
  background-color: #b6b6b6;
} */

@media screen and (max-width:601px) {
     .btn-view{
      width: 80px;
      height: 28px;
     }
}
