.Kyc-update-Buttons{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    padding: 3rem;
}
.edit-profile{
    position: absolute;
    margin-top: 6rem;
    margin-left: 8rem;
    cursor: pointer;
}
.white-circle{
    height: 46px;
    width: 46px;
    background-color: white;
    border-radius: 50%;
}
.edit-icon{
    position: absolute;
    margin-left: 1rem;
    margin-top: 1rem;
}