.Order_main{
  background-color: white;
  box-shadow: rgba(129, 124, 124, 0.35) 0px 5px 10px;
  padding: 2rem;
  border-radius: 1.25rem;
  margin: 2rem;
}
.Order_main  > h3 {
    font-weight: 600;
    font-size: 28px;
    line-height: 33px;
    color: #252525;
    margin-left: 3%;
}
.Order_main  > p{
    margin-left: 3%;
}

.reminder-circle{
  background-color: red;
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  position: absolute;
  margin-left: 2.5rem;
  margin-top: -0.6rem;
}

/* .track-main-top-bar{
  display: flex;
  flex-direction: row;
} */
.search-field{
  display: flex;
  position: absolute;
 margin-left: 45%;
 margin-top: -5rem;
}
.search-bar{
  width: 270px;
  height: 43px;
  border: 0.955854px solid #5F5F5F;
  border-radius: 19.1171px;
  font-size: 18px;
  /* position: absolute; */
}
.search-bar-img{
  float: right;
  margin-left: -2rem;
}
.order_table{
    width: 95%;
    margin: 2%;
}
.Track-order-statecity{
  margin-left: 3%;
}
.view-orders-button{
  margin: 2% 3%;
}
th{
  font-weight: 600;
}
@media screen and (min-width:1500px) {
  .search-field{
    margin-left: 50%;
  }
}
@media screen and (max-width:1300px) {
  .search-bar{
    width: 230px;
  }
  .search-field{
    margin-left: 42%;
  }
}
@media screen and (min-width:1000px) and (max-width:1130px) {
  .Order_date{
    display: flex;
    flex-direction: column;
    gap:0;
  }
}
@media screen and (min-width: 769px) {
    .Order_main {
      margin-left: 2rem;
    }
  }
  @media screen and (max-width: 768px) {
    .Order_main {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .Order_date{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 1%;
        gap: 0;
    }
  }
  @media screen and (max-width: 601px){
    table{
        width: 80%;
    }
      td{
        font-size: 12px;
      }
      th{
        font-size: 14px;
      }
}