.Container-1{
    background: white;
    /* width: 100%; */
    border-radius: 1rem;
    margin: 3% 6%;
    padding: 10px;
    box-shadow: rgba(129, 124, 124, 0.35) 0px 5px 10px;
    justify-self: center;
}
