.unit_main{
  margin: 2rem;
  background-color: white;
  padding: 2rem;
  border-radius: 1.25rem;
  box-shadow: rgba(129, 124, 124, 0.35) 0px 5px 10px;
}
.unit_main > h3 {
  font-weight: 600;
  font-size: 28px;
  line-height: 33px;
  /* identical to box height */
  color: #252525;
}

@media screen and (max-width: 1000px) {
  .unit_main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 1000px) {
  .flexDiv {
    display: flex;
    /* max-width: 90%; */
    gap: 2rem;
  }
}
