.document-card {
  width: 170px;
  height: 140px;
  margin-left: 3.5rem;
  margin-bottom: 2rem;
  background: #ffffff;
  box-shadow: 2px 2px 15px -5px rgba(0, 96, 211, 0.25);
  border-radius: 15px;
  text-align: center;
  padding-top: 20%;
  cursor: pointer;
}
.document-card > p {
  color: #0060d3;
}

.document-card > a {
  text-decoration: none;
  color: #202020;
  font-size: 13px;
}

.document-card > a:hover {
  color: #0060d3;
}

.file-name {
  font-size: 10px;
  font-weight: 500;
}

.file-label {
  cursor: pointer;
}
