.si_label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  margin: 1rem 0;
}

.si_label > img {
  object-fit: cover;
}

.si_label_name {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #252525;
}

.si_error {
  font-size: 13px;
  font-weight: 400;
  color: red;
}

.si_input {
  outline: none;
  border: 1.2px solid #7b7b7b;
  border-radius: 10px;
  padding: 10px 16px;
  font-size: 15px;
  max-width: 600px;
  min-width: 300px;
}

.si_div {
  display: flex;
  flex-direction: column;
  min-width: 40%;
  max-width: 100%;
}
@media screen and (max-width: 1100px) {
  .si_input {
    max-width: 400px;
  }
}

@media screen and (max-width: 768px) {
  .si_input {
    max-width: 300px;
  }
}
