.Tabs {
    color: #404040;
   }
  ul.nav {
    width: 60%;
   margin: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F8F8F8;
    /* border: 1px solid #39A2DB; */
    border-radius: 2rem;
    padding-left: 0px;
    @media (max-width: 768px) {
      width: 90%;
    }
  }
  ul.nav li {
    width: 50%;
    padding: 1rem;
    list-style: none;
    text-align: center;
    cursor: pointer;
    transition: all 0.1s;
    border-bottom-left-radius: 2rem;
    border-top-left-radius: 2rem;
  }
  ul.nav li:nth-child(4) {
    border-radius: 0;
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
  }
  ul.nav li:hover {
    background: #0060D3;
    color: white;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    border-top-left-radius: 2rem;
  }
  ul.nav li.active {
    background: #0060D3;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    color: white;

  }
  /* .nav li active{

  } */