.sidebar__container {
  padding: 2rem 0;
  background-color: white;
}

.sidebar__logo {
  display: flex;
  justify-content: center;
}

.sidebar__logo > img {
  height: 96px;
  width: 96px;
  object-fit: cover;
}

.sidebar__menu {
  display: grid;
  margin-top: 2rem;
}


.sidebar__menu__item {
  /* width: 100%; */
  display: flex;
  align-items: center;
  text-decoration: none;
  height: 50px;
  color: #0060D3;
}

.sidebar__menu__item.active::before {
  content: "";
  width: 5px;
  height: 50px;
  background-color: #0060D3;
}

.sidebar__menu__item:hover,
.sidebar__menu__item.active {
  background-color: #E9F3FF;
  color: #0060D3;
}
.sidebar__menu:hover,
.sidebar__menu:active{
  color: #0060D3;
}

.sidebar__menu.active > img{
  fill: #4f4f4f;
}

.sidebar__menu__item > img {
  padding-left: 2rem;
  object-fit: cover;
}

.sidebar__menu__item > span {
  padding-left: 1.2rem;
  text-decoration: none;
  font-weight: 500;
  font-size: 17px;
  line-height: 19px;
  color: #353535;
}
/* .sidebar__container > span:active,
.sidebar__container > span:hover{
  color: #0060D3;
} */
.sidebar__menu__item.active > span,
.sidebar__menu__item.hover > span{
  color: #0060D3;
  font-weight: 600;
}
.sidebar__menu__item.active::before > span{
  color: #0060D3;
}
.separator {
  margin: 25px;
  opacity: 0.4;
  border-top: 1px solid #4f4f4f;
}

.btn_logout{
  /* width: 255px; */
  width: 100%;
  height: 53px;
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.btn_logout:hover{
  background-color: #e8e8e8;
}

@media screen and (max-width: 499px) {
  .sidebar__menu__item > span {
    font-size: 15px;
  }
}
