@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');

body, html {
    font-family: 'Poppins', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background-color: #F5F5F5;
}